<nav class="navbar navbar-expand-lg navbar-dark gti-head-link-ban">
    <div class="container">
      <a class="navbar-brand fw-bold" routerLink="/"><img src="https://gujarattilesinfo.com/assets/img/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse gti-head-link" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/get-best-offer">Get Best Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/defaulter">Defaulter </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/job-junction">Job Junction</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/true-find" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                TrueFind
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="#">Action</a></li>
                <li><a class="dropdown-item" routerLink="#">Another action</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/tools" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tools
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="#">Action</a></li>
                <li><a class="dropdown-item" routerLink="#">Another action</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/gti" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                GTI
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="#">Action</a></li>
                <li><a class="dropdown-item" routerLink="#">Another action</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/follow-us" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Follow Us
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="#">Action</a></li>
                <li><a class="dropdown-item" routerLink="#">Another action</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#"><i class="fas fa-search"></i> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/notification"><i class="far fa-bell"></i></a>
          </li>

        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form> -->
      </div>
    </div>
</nav>
