<div class="container">

    <div class="row my-5">
        <div class="card m-3 p-0" style="width: 18rem;">
            <img src="https://cdn.shopify.com/s/files/1/2395/6385/files/athena-cielo-bathroom-install.gif?v=1664401910g" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-3 p-0" style="width: 18rem;">
            <img src="https://cdn.shopify.com/s/files/1/2395/6385/files/athena-cielo-bathroom-install.gif?v=1664401910g" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-3 p-0" style="width: 18rem;">
            <img src="https://cdn.shopify.com/s/files/1/2395/6385/files/athena-cielo-bathroom-install.gif?v=1664401910g" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-3 p-0" style="width: 18rem;">
            <img src="https://cdn.shopify.com/s/files/1/2395/6385/files/athena-cielo-bathroom-install.gif?v=1664401910g" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-3 p-0" style="width: 18rem;">
            <img src="https://cdn.shopify.com/s/files/1/2395/6385/files/athena-cielo-bathroom-install.gif?v=1664401910g" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-3 p-0" style="width: 18rem;">
            <img src="https://cdn.shopify.com/s/files/1/2395/6385/files/athena-cielo-bathroom-install.gif?v=1664401910g" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-3 p-0" style="width: 18rem;">
            <img src="https://cdn.shopify.com/s/files/1/2395/6385/files/athena-cielo-bathroom-install.gif?v=1664401910g" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-3 p-0" style="width: 18rem;">
            <img src="https://cdn.shopify.com/s/files/1/2395/6385/files/athena-cielo-bathroom-install.gif?v=1664401910g" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
