/*** Features Start ***/
.features {
    width: 100%;
    background: linear-gradient(rgba(26, 125, 255, 0.5), rgba(255, 255, 255, 0.3)), url(https://cdn.shopify.com/s/files/1/2395/6385/files/athena-cielo-bathroom-install.gif?v=1664401910g);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
/*** Features End ***/